In [19]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score, train_test_split
import pandas as pd

In [21]:
df = pd.read_csv('breast-cancer-wisconsin.data.txt')

In [22]:
df.replace('?', -99999, inplace=True) 
df.drop(['id'], 1, inplace=True)

df

C:\Users\Sarthak\AppData\Local\Temp\ipykernel_66932\1240094775.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['id'], 1, inplace=True)

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [25]:
X = df.drop(['class'], axis=1)
y = df['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

clf = neighbors.KNeighborsClassifier()

clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9857142857142858

In [30]:
example_measures = np.array([4, 2, 1, 1, 1, 2, 3, 2, 1])
example_measures = example_measures.reshape(1, -1)

In [31]:
prediction = clf.predict(example_measures)
print(prediction)

[2]

C:\Users\Sarthak\miniconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(